body {
    background:#fcfcfc;
    font-family:'Roboto', Arial, sans-serif;
    font-size:16px;
    color:#333;
}

.ev-max-width {
    max-width:1160px;
    margin:0 auto;
}

.ev-clear {
    clear:both;
}

.ev-indent {
    margin:0 10px 0 0;
}

.navbar {
    margin:0;
    border-radius:0;
}

@media (max-width:991px) {
    .ev-breadcrumb {
        padding:10px 0;
    }
}

@media (min-width:992px) {
    .ev-breadcrumb {
        padding:10px 0;
        margin:0 0 10px 0;
    }
}

.ev-breadcrumb-profile-picture {
    display:inline-block;
    float:left;
    width:120px;
    height:120px;
    margin:0 20px 0 0;
    border:1px solid #ccc;
    border-radius:5px;
}

.ev-breadcrumb-profile-picture img {
    width:114px;
    height:114px;
    margin:3px 0 0 3px;
}

@media (max-width:500px) {
    .ev-breadcrumb-text {
        clear:both;
        padding:15px 0 0 0;
    }
}

@media (max-width:767px) {
    .ev-breadcrumb-text {
        margin:15px 0 0 0;
        overflow:hidden;
    }
}

@media (min-width:768px) {
    .ev-breadcrumb-text {
        display:inline-block;
    }
}

@media (max-width:767px) {
    .ev-breadcrumb-social {
        margin:5px 0 0 0;
        overflow:hidden;
    }
}

@media (min-width:768px) {
    .ev-breadcrumb-social {
        float:right;
        margin:-7px 0 0 0;
    }
}

.ev-breadcrumb-social-connect {
    display:inline-block;
}

.ev-breadcrumb-buttons {
    margin:10px 0 0 0;
    overflow:hidden;
}

.ev-breadcrumb-buttons-join {
    display:inline-block;
    margin:0 30px 0 0;
}

.ev-breadcrumb-buttons-donate {
    display:inline-block;
}

.ev-breadcrumb-social-icon {
    display:inline-block;
    margin:0 0 0 5px;
    font-size:22px;
}

.ev-breadcrumb-social-icon a {
    color:#333;
}

.ev-tabs {
    background-color:#333;
    font-size:16px;
    margin:0 0 10px 0;
    padding:0 0 0 5px;
}

@media (max-width:768px) {
    .ev-tabs {
        margin:0 0 10px 0;
        font-size:16px;
    }
}

.ev-tabs-tab {
    display:inline-block;
    color:#eee;
    padding:5px 10px 10px 10px;
    margin:5px 0 0 0;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
}

.ev-tabs-tab:hover {
    background-color:#777;
}

.ev-tabs-tab-active {
    display:inline-block;
    padding:5px 10px 10px 10px;
    background-color:#fcfcfc;
    color:#333;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
}

.ev-left {
    border-right:1px dotted #ccc;
}

.ev-left-profile-picture {
    max-width:120px;
    max-height:120px;
    padding:3px;
    margin:0 10px 20px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

.ev-left-profile-picture img {
}

.ev-left-nav {
    padding:0 0 10px 0;
}

.ev-left-nav a {
    color:#333;
    text-decoration:none;
}

.ev-left-nav a:hover {
    color:#888;
}

@media (min-width:992px) {
    .ev-center {
        border-right:1px dotted #ccc;
        padding:0 30px 0 0;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .ev-center {
        border-right:1px dotted #ccc;
        padding:0 15px 0 0;
    }
}

@media (max-width:767px) {
    .ev-center {
    }
}

.ev-center-headline {
    display:inline-block;
    margin:0 0 10px 0;
    font-size:24px;
    font-weight:bold;
}

.ev-center-button {
    display:inline-block;
    float:right;
    margin:6px 0 0 20px;
    border-radius:10px;
}

.ev-center-button a {
    padding:5px 10px;
    border-radius:10px;
    text-decoration:none;
}

.ev-center-cover {
    margin:0 0 25px 0;
}

.ev-center-title {
    margin:0 0 5px 0;
    font-size:18px;
    font-weight:bold;
}

.ev-center-text {
    margin:0 0 20px 0;
    font-size:15px;
}

.ev-center-levels {
    margin:0 0 20px 0;
}

.ev-center-level-1-first {
    margin:0 0 15px 0;
    border-bottom:1px solid #ccc;
}


.ev-center-level-1 {
    margin:30px 0 15px 0;
    border-bottom:1px solid #ccc;
}

.ev-center-level-1-name {
    font-size:18px;
}

@media (max-width:767px) {
    .ev-center-level-2 {
        margin:0 0 15px 10px;
        border-bottom:1px dotted #ccc;
    }
}

@media (min-width:768px) {
    .ev-center-level-2 {
        margin:0 0 15px 20px;
        border-bottom:1px dotted #ccc;
    }
}

.ev-center-level-2-name {
    font-size:18px;
}

@media (max-width:767px) {
    .ev-center-level-3 {
        max-width:460px;
        margin:0 0 20px 20px;
    }
}

@media (min-width:768px) {
    .ev-center-level-3 {
        max-width:460px;
        margin:0 0 20px 40px;
    }
}

.ev-center-level-3-profile-picture {
    display:inline-block;
    float:left;
    margin:0 20px 0 0;
}

.ev-center-level-3-profile-picture img {
    width:50px;
    height:50px;
    border-radius:5px;
}

.ev-center-level-3-box {
    overflow:hidden;
}

.ev-center-level-3-box-name {
    display:inline-block;
    vertical-align:top;
    font-size:18px;
}

.ev-center-level-3-box-party {
    margin:3px 0 0 0;
    font-size:16px;
}

@media (max-width:500px) {
    .ev-center-level-3-social {
        display:none;
    }
}

@media (min-width:501px) {
    .ev-center-level-3-social {
        float:right;
    }
}

.ev-center-level-3-social-icon {
    float:right;
    margin:0 0 0 10px;
    font-size:20px;
}

.ev-center-level-3-social-icon a {
    color:#333;
}

.ev-right {
    margin:0 0 0 -15px;
}

.ev-right-header {
    border:1px solid #ccc;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
}

.ev-right-dropdown {
    padding:5px 10px;
    font-size:18px;
    cursor:pointer;
}

.ev-right-dropdown a {
    color:#333;
    text-decoration:none;
}

.ev-right-dropdown-menu {
    font-size:18px;
}

.ev-right-body {
    overflow:auto;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
}

.ev-right-item-first {
    padding:10px;
}

.ev-right-item {
    padding:10px;
    border-top:1px dotted #ccc;
}

.ev-right-item-profile-picture {
    display:inline-block;
    float:left;
    margin:0 10px 0 0;
}

.ev-right-item-profile-picture img {
    width:40px;
    height:40px;
}

.ev-right-item-box {
    overflow:hidden;
}

.ev-right-item-box-text {
    font-size:13px;

}

.ev-footer {
    margin:50px 0 0 0;
    padding:10px 0;
    background:#888;
}

.ev-footer-button {
    display:inline-block;
    margin:0 20px 0 0;
    color:#eee;
}

.ev-footer-button a {
    color:#eee;
}

/* .icon-homepage {
    color:#222;
}

.icon-homepage:hover {
    color:#555;
}

 .icon-twitter {
    color:#00aace;
}

.icon-twitter:hover {
    color:#00caf4
}

.icon-facebook {
    color:#3b5998;
}

.icon-facebook:hover {
    color:#476bb8;
}

.icon-linkedin {
    color:#0e76a8;
}

.icon-linkedin:hover {
    color:#1298d8;
}

.icon-public-email {
    color:#222;
}

.icon-public-email:hover {
    color:#555;
}

*/

.button-primary {
    background-color:#428bca;
    color:#f5f5f5;
    cursor:pointer;
}

.button-primary:hover {
    background-color:#72a7d8;
    color:#fcfcfc;
}

.button-success {
    background-color:#5cb85c;
    color:#f5f5f5;
    cursor:pointer;
}

.button-success:hover {
    background-color:#82c282;
    color:#fcfcfc;
}

.button-warning {
    background-color:#f0ad4e;
    color:#f5f5f5;
    cursor:pointer;
}

.button-warning:hover {
    background-color:#f4c280;
    color:#fcfcfc;
}

.yes {
    color:#5cb85c;
}

.no {
    color:#d9534f;
}

.undecided {
    color:#777;
}